.pacman {
    position: absolute;
    width: 200px; 
    z-index: 100;
  }
  
  #PacMan1 {
    top: 5vh;
  }
  
  #PacMan2 {
    top: 30vh; 
    right: 0; 
  }
  
  #PacMan3 {
    top: 55vh;
  }
  
  #PacMan4 {
    top: 80vh;
    right: 0; 
  }
  body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background: url('pacman.jpeg') no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  }
